@page
@model ForgotPasswordModel

<!doctype html>
    <html class="no-js " lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

        <title>:: Alpino :: Forgot password</title>
      
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
       
        <link rel="stylesheet" href="~/assets/css/main.css">
        <link rel="stylesheet" href="~/assets/css/color_skins.css">
    </head>
    <body class="theme-black">
        <div class="authentication">
            <div class="container">
                <div class="col-md-12 content-center">
                     
                        <div class="col-lg-5 col-md-12 offset-lg-1">
                            <div class="card-plain">

                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="input-group mb-0">

                                        <input asp-for="Input.Email" class="form-control" placeholder="Enter Email">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="zmdi zmdi-email"></i></span>
                                        </div>
                                    </div>

                                    <div class="footer">
                                        <button type="submit" class="btn btn-primary btn-round btn-block">SUBMIT</button>
                                    </div>
                                </form>
                                <a href="javascript:void(0);" class="link">Need Help?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
        <script src="~/assets/bundles/libscripts.bundle.js"></script>
        <script src="~/assets/bundles/vendorscripts.bundle.js"></script>   
    </body>


    </html>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }